body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.534);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}
nav{
    background-color: rgba(105, 105, 105, 0.603);
    padding: 4px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.527);
}
nav>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}
nav>a:hover{
    text-decoration: underline;
}
#noticias{
    background-color: rgba(105, 105, 105, 0.363);
    box-shadow:2px 2px 4px 1px rgba(0, 0, 0, 0.397);
}
footer>p{
    margin: 0px;
}
